# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Flask specific
instance/
*.db
*.sqlite
*.log
*.pot
flask_logs.txt

# Flask session data
Flask_session/

# PyCharm, VS Code and other IDEs
.idea/
.vscode/

# Virtual environment
venv/
env/
.env

# Migration
migrations/

# Private PDFS
private_pdfs/

# QRCodes
static/qrcodes