<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Toolbox - {% block title %}{% endblock %}</title>
    <!-- Link to Cyborg theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.5/dist/cyborg/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Bootstrap Icon -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- CDN Quill, I didn't know it and ChatGPT make me discover-->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">My Toolbox</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                {% if session["user_id"] %}
                    <li class="nav-item ">
                        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/qrcode' %}active{% endif %}" href="/qrcode">Generate QR Code</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/pdf' %}active{% endif %}" href="/pdf">Generate PDF</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/panel' %}active{% endif %}" href="/panel">Panel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/logout' %}active{% endif %}" href="/logout">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/register' %}active{% endif %}" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/login' %}active{% endif %}" href="/login">Login</a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        {% block main %}

        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
